<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topos - Sopot</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <th:block th:include="templates :: headers_krzys"></th:block>

</head>
<body>
<th:block th:include="templates :: navigator_bar_krzys"></th:block>

<section id="home">
    <div class="home-content">
        <h1>Stowarzyszenie <br/>URODZONYCH<br/> w Sopocie TOPOS</h1>
    </div>
</section>
<section id="about">
    <div class="about-content">
        <h2>O nas</h2>
        <p>
            W dniu 12 października 2017 r. na forum facebookowym grupy "Urodzeni w&nbspSopocie" Anna Lentas rzuciła propozycję abyśmy "się policzyli i bliżej poznali".
        </p>
        <p>
            Chodziło o to, że nie rozpoznawaliśmy się po informacjach dostępnych na facebooku gdyż nie wszyscy występują pod swoimi nazwiskami a generalnie  o to,
            kto gdzie (w jakiej porodówce) i kiedy się urodził, gdzie mieszkała rodzina,  do której szkoły chodził i gdzie teraz mieszka oraz -szczególnie
            w przypadku kobiet- jakie nazwisko nosił.
            Uczestnicy forum dyskusyjnego natychmiast zaczęli wpisywać informacje o&nbspsobie w formie nieuporządkowanej, wprost w&nbspdyskusji.  Powstał chaos i Krzysztof Grabski ze spontanicznych wpisów w&nbspciągu paru godzin stworzył ponad stuosobową listę URODZONYCH.
        </p>
        <p>
            Zachęceni powodzeniem pomysłu ustaliliśmy wzór-szablon do wpisu na listę URODZONYCH , uzupełnialiśmy pierwsze wpisy i przyjmowaliśmy nowe -już teraz
            z myślą o zorganizowaniu spotkania; Pierwszego Światowego Zjazdu URODZONYCH w Sopocie.
        </p>
        <p>
            Po ustaleniu że patronat Miasta nad spotkaniem możliwy jest wyłącznie wobec stowarzyszenia a nie prywatnej grupy osób, w dniu dnia 13.04.2018
            złożyliśmy wniosek o wpis do rejestru stowarzyszeń a 24.04.2018 r. odbyliśmy zebranie załozycielskie stowarzyszenia w składzie:
            Katarzyna Lentas -pomysłodawczyni listy,  Ann Hols -założycielka strony fb i$nbspKrzysztof Grabski -twórca listy.
            Stowarzyszenie zostało wpisane do rejestru dnia 16 maja 2018 pod nr 9 i nazwą „Stowarzyszenie URODZONYCH w&nbspSopocie >>TOPOS<<.
        </p>
        <p>
            11 sierpnia 2018 w ogrodach Muzeum Miasta Sopotu zorganizowaliśmy spotkanie; -a tak naprawdę<br/> Pierwszy Światowy Zlot URODZONYCH w Sopocie.
        </p>
        <p>
            Dla wielu spośród ponad 200 przybyłych gości była to miła i&nbsppierwsza okazja aby spotkać znajomych sprzed lat.<br/> Planujemy kolejne spotkania.
        </p>
        <p><strong>Fotki ze spotkania 11 sierpnia 2018 </strong>w dawnej  <br/>
            <a href=https://pl.wikipedia.org/wiki/Willa_Claaszena_w_Sopocie target=blank><strong><i><u>Willi Claaszena</u></i></strong></a></p>
        <p>będącej obecnie siedzibą<br/><a href=http://muzeumsopotu.pl/pl/strona-glowna/ target=blank><strong><i><u>Muzeum Sopotu</u></i></strong></a></p>
        <p><a href=https://www.youtube.com/watch?v=rOL58qRnZmY target=blank><strong><i><u>film ze spotkania</u></i></strong></a></p>
    </div>
    <div class="about-photo">

    </div>
    <div style="clear:both;"></div>
</section>



<footer id="contact">
    <div class="footer-content">
        <div class="contact-wrapper">
            <h3>Kontakt</h3>
            <p>Address e-mail: <b>urodzeniwsopocie@gmail.com </b></p>
            <br><br>
            <a href="https://www.facebook.com/urodzeniwsopocie/" title="Find me on FB" target="_blank">Zapraszamy na naszego facebook'a </a>
        </div>
    </div>
    <div class="footer-form">
        <form id="form">
            <p> <b>Stowarzyszenie Urodzonych w Sopocie "TOPOS" <br><br>  3 Maja 1/1, 81 -729  Sopot. </b></p>
        </form>
    </div>
</footer>


<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<th:block th:include="templates :: script_krzys"></th:block>
</body>
</html>
