<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <th:block th:include="templates :: headers"></th:block>
    <title>Atkualizacja wspomnienia</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window ">
    <form th:action="@{admin/memory/update}" th:object="${memoryUpdate}" th:method="post">
    <div class="row colored-row">
        <div class="col-12">
            <h2>Aktualizacja wspomnienia -- wypełnić tylko pola do zmiany</h2>
        </div>
    </div>

        <div class="row colored-row">
            <div class="col-6">
                <label for="input-idM">Numer id wspomnienia do aktualizacji (int):</label>
            </div>
            <div class="col-6">
                <input class ="form-control" id="input-idM"  name="idM" required>
            </div>
        </div>

        <div class="row colored-row">
        <div class="col-2">
            <label for="textarea-oneMemory">Nowa treść wspomnienia:</label>
        </div>
        <div class="col-10">
            <textarea class="form-control" id="textarea-oneMemory" th:field="*{oneMemory}" name="oneMemory"></textarea>
        </div>
    </div>

        <div class="row colored-row">
            <div class="col-2">
                <label for="signature">Nowy podpis:</label>
            </div>
            <div class="col-10">
                <input class="form-control" id="signature" th:field="*{signature}" name="signature">
            </div>
        </div>

        <div class="row colored-row">
            <div class="offset-2 col-8">
                <input class="form-control" type="submit" value="Aktualizuj">
            </div>
        </div>

    </form>
</div>


<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>