*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;

}

/* main styling */
a {
    color: #fff;
    text-decoration: none;
}

/*memories*/
.memories{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    word-break: break-word;
}
/* styling project section  JOIN*/
#gallery{
    min-height: 100%;
    background-color:  rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
    max-height: 40px;
    justify-content: center;
    text-align: center;
}
.gallery-text {
    color: #fff;
    text-decoration: none;
}
.gallery-photo{
    height: 70vw;
    display: flex;
    flex-direction: row;
    padding: 60px 20px 20px 20px;
    font-size: 18px;
    justify-content: center;
    box-sizing: border-box;
}
.image{
    height: 460px;
    width:  380px;
}
.gallery-link{
    padding-bottom: 60px;
}

/* styling project section  JOIN*/
#join {
    min-height: 100%;
    background-color:  rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
    max-height: 40px;
    justify-content: center;
}

.join-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    color: #fff;
    justify-content: center;
}
.join-content >h2{
    position: relative;
    z-index: 0;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 40px;

}
.join-content > h2::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: -5px;
    top: 20px;
    background-color: #FF9505;
    flex-direction: column;
    justify-content: center;
}

.join-content3{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20vw;
    color: #fff;
    text-align: left;
    font-size: 18px;
    justify-content: center;
}
.list-size{
    height: 100%;
    display: flex;
    color: #fff;
    text-align: left;
    font-size: 18px;
}


#people {
    min-height: 100%;
    /* background-color: #BF7004; */
    background-color: rgba(52, 89, 149, 0.932);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.people-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.people-content > .people-list {
    column-count: 4;
    color: #fff;
}

.people-content > .people-list > p {
    padding: 3px 0;
}

.people-item {
    height: 100%;
    width: calc(100% / 3);
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff

}


.people-content > h2{
    color: #fff;
    position: relative;
    z-index: 0;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 40px;
}

.people-content > h2::after{
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 12px;
    left: -5px;
    top: 20px;
    background-color: #FF9505;
}
